<nav class='row tabs'>
  <ul class='navTabs clearfix'>
    <li class='tab'><%= link_to 'Available Projects', projects_path %></a></li>
    <li class='tab activeTab'>Available Talent</li>
  </ul>
</nav>

<header class='newP row'>
  <h3>Submit Your Skill Set</h3>
</header>

<% if flash[:errors] %>
  <ul class='errors'>
    <% flash[:errors].each do |f| %>
      <li><%= f %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @skill, html: {class: 'newProject row'} do |f| %>
  <div class='inputs row'>
    <%= f.label 'Kinds of projects you are looking to join', :class => 'formLeft' %>
    <%= f.text_field :interests, :class => 'formRight' %>
  </div>
  <div class='inputs row'>
    <%= f.label 'Category', :class => 'formLeft' %>
    <div class='category clearfix formRight'>
      <div class='categories'>
        <div class='icons'>
          <img src='/categoryIcon_technology_85x85.png' class='tech'>
          <%= f.radio_button(:category, tag_value = "Technology", options = {class: 'checks display'}) %>
          <div class='iconLabel'><p>Technology</p></div>
        </div>
        <div class='icons'>
          <img src='/categoryIcon_art_85x85.png' class='art'>
          <%= f.radio_button(:category, tag_value = "Arts", options = {class: 'checks display'}) %>
          <div class='iconLabel'><p>Art</p></div>
        </div>
        <div class='icons'>
          <img src='/categoryIcon_science_85x85.png' class='sci'>
          <%= f.radio_button(:category, tag_value = "Science", options = {class: 'checks display'}) %>
          <div class='iconLabel'><p>Science</p></div>
        </div>
      </div>
    </div>
  </div>
  <div class='inputs row'>
    <%= f.label 'Primary skill to offer', :class => 'formLeft' %>
    <%= f.text_field :primary_skill, :class => 'formRight' %>
  </div>
  <div class='inputs row'>
    <%= f.label 'Other skills', :class => 'formLeft' %>
    <%= f.text_area :skills, rows: 7,:class => 'formRight' %>
  </div>
  <div class='inputs row'>
    <%= f.label 'Commitment Needed', :class => 'formLeft' %>
    <div class='category clearfix formRight'>
      <div class='categories'>
        <p>Hours Per Week: </p>
        <%= f.radio_button(:commitment_level, tag_value = "1-2", options = {}) %>
        <%= label :commitment_level, '1-2', :class => 'comLev' %>
        <%= f.radio_button(:commitment_level, tag_value = "3-10", options = {}) %>
        <%= label :commitment_level, '3-10', :class => 'comLev' %>
        <%= f.radio_button(:commitment_level, tag_value = "11-15", options = {}) %>
        <%= label :commitment_level, '11-15', :class => 'comLev' %>
        <%= f.radio_button(:commitment_level, tag_value = "16-20", options = {}) %>
        <%= label :commitment_level, '16-20', :class => 'comLev' %>
        <%= f.radio_button(:commitment_level, tag_value = "21-30", options = {}) %>
        <%= label :commitment_level, '21-30', :class => 'comLev' %>
        <%= f.radio_button(:commitment_level, tag_value = "31+", options = {}) %>
        <%= label :commitment_level, '31+', :class => 'comLev' %>
      </div>
    </div>
  </div>
  <div class='inputs row'>
    <%= f.label 'Add Search Keywords', :class => 'formLeft' %>
    <%= f.text_field :search_keywords, :class => 'formRight' %>
  </div>
  <div class='post'>
    <%= f.submit 'Post Your Skills' %>
  </div>
<% end %>

