





<% if current_user.id == @project.user_id %>
  <%= link_to 'Update', edit_project_path(@project) %>
  <%= link_to 'Delete', project_path(@project), method: 'delete' %>
<% end %>

<%= link_to 'Project list', projects_path %>

<h3><%= @project.title %></h3>
<h3><%= @project_user.user_name %></h3>