<!DOCTYPE html>
<html>
<head>
  <title>Collaborate</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0;">
</head>
<body>

  <div class='container'>

    <header class='mainHeader row'>
      <hgroup class='title clearfix'>
        <img src='/logo.png'>
        <h1><a href='/'>Collaborate</a></h1>
        <h3>Share a project. Offer a skill. Build a team and accomplish anything.</h3>
      </hgroup>

      <!-- Regular Login Controls -->
      <% if current_user %>
        <div class="dropdown normalLog">
          <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#"><h5>Welcome, <%= current_user.user_name %><b class="caret"></b></h5>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dLabel">
            <li><%= link_to 'My Posts', my_posts_path %></li>
            <li><%= link_to 'Change Password', edit_user_path(current_user) %></li>
            <li><%= link_to 'Logout', logout_path %></li>
          </ul>
        </div>

      <% else %>
        <% if controller.action_name != 'new' %>
          <nav class='mainNav'>
            <li><%= link_to 'Log In', new_session_path, :class => 'login' %></li>
          </nav>
        <% end %>
      <% end %>

      <!-- Mobile Login Controls -->
      <% if current_user %>
        <div class="dropdown log">
          <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#"><img src='icon_menu.png'></a>
          <ul class="dropdown-menu" aria-labelledby="dLabel">
            <li><%= link_to 'My Posts', my_posts_path %></li>
            <li><%= link_to 'Change Password', edit_user_path(current_user) %></li>
            <li><%= link_to 'Logout', logout_path %></li>
          </ul>
        </div>

      <% else %>
        <% if controller.action_name != 'new' %>
          <div class="dropdown log">
              <%= link_to 'Log In', new_session_path %>
          </div>
        <% end %>
      <% end %>
    </header> <!-- end mainHeader -->

    <%= yield %>

  </div> <!-- end container -->

</body>
</html>
